<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn" internalLogFile="B:\_Temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!-- From site https://github.com/NLog/NLog/wiki/ColoredConsole-target -->
    <target xsi:type="ColoredConsole"
            name="ToConsole"
            encoding="utf-8"
            layout="${longdate}&#009;${uppercase:${level}}&#009;${message}"
            useDefaultRowHighlightingRules="true"
            detectConsoleAvailable="true">
    </target>
    
    <target xsi:type="File" 
            name="ToFile" 
            fileName="${basedir}/logs/${processname}_${shortdate}.log"
            encoding="utf-8"
            layout="${longdate}&#009;${uppercase:${level}}&#009;${logger}&#009;${message}&#009;${exception:format=tostring}" />

    <target xsi:type="File"
            name="ToTraceFile"
            fileName="${basedir}/logs/${processname}_TRACE_${shortdate}.log"
            encoding="utf-8"
            layout="${longdate}&#009;${uppercase:${level}}&#009;${logger}&#009;${message}&#009;${exception:format=tostring}" />
    
    <target xsi:type="Database"
              name="ToDB"
              connectionStringName="YAMS"
              commandText="
               insert into YAMSLog (
                Application, 
                Logged, 
                Level, 
                Message,
                Logger, 
                Exception,
                ServerId
              ) values (
                @Application, 
                @Logged, 
                @Level, 
                @Message,
                @Logger,
                @Exception,
                NULLIF(@ServerId, '')
              );              
             ">

      <parameter name="@application" layout="${processname}" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@ServerId" layout="${event-properties:ServerId}" />    
    </target>

    <target xsi:type="EventLog"
            name="ToEventlog"
            source="YAMS"
            layout="${message}${newline}${exception:format=ToString}"/>
    
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Debug" writeTo="ToFile" />
    <logger name="*" minlevel="Debug" writeTo="ToConsole" />
    <logger name="*" minlevel="Info" writeTo="ToDB" />
    <!--<logger name="*" level="Error" writeTo="ToEventlog" />-->
    <!--<logger name="*" level="Trace" writeTo="ToTraceFile" />-->
  </rules>
  
</nlog>
